In [226]:
import streamlit as st
import pandas as pd
import re
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, r2_score
import plotly.express as px
import seaborn as sns

In [227]:
df = pd.read_csv('/Users/um/Desktop/Wild Code School/Protojam/dataOk.csv')

In [228]:
df.drop(columns = ['Unnamed: 0'], inplace=True)

In [229]:
df_france = df[(df['Country']== 'France') & (df['Season']== 'Summer')]

In [230]:
""" data_france_encoded = pd.get_dummies(data_france, columns = ['Games', 'City', 'Sport', 'Event', 'Gender'], drop_first = True)
data_france_encoded['Medal'] = data_france_encoded['Medal'].map({'Gold': 3, 'Silver': 2, 'Bronze': 1, 'non-medalist':0}) """
""" 
prendre l'age moyen H et F
decisiontreeclassifier
grouper par event par année et par genre moyenne de l'age
essayer un modele pour les medailles d'or

"""

" \nprendre l'age moyen H et F\ndecisiontreeclassifier\ngrouper par event par année et par genre moyenne de l'age\nessayer un modele pour les medailles d'or\n\n"

In [231]:
df_france

,Name,Age,Country,NOC,Games,Year,Season,City,Sport,Event,Medal,Gender,region
98,Jamale (Djamel-) Aarrass (Ahrass-),30,France,FRA,2012 Summer,2012,Summer,London,Athletics,"Athletics Men's 1,500 metres",non-medalist,Male,France
145,Patrick Abada,22,France,FRA,1976 Summer,1976,Summer,Montreal,Athletics,Athletics Men's Pole Vault,non-medalist,Male,France
149,Ren Abadie,21,France,FRA,1956 Summer,1956,Summer,Melbourne,Cycling,"Cycling Men's Road Race, Individual",non-medalist,Male,France
150,Ren Abadie,21,France,FRA,1956 Summer,1956,Summer,Melbourne,Cycling,"Cycling Men's Road Race, Team",Gold,Male,France
173,Luc Abalo,23,France,FRA,2008 Summer,2008,Summer,Beijing,Handball,Handball Men's Handball,Gold,Male,France
...,...,...,...,...,...,...,...,...,...,...,...,...,...
285890,YUAN Jia Nan,36,France,FRA,2020Summer,2020,Summer,Tokyo,Table Tennis,Women's Team,non-medalist,Female,France
285928,ZAADI DEUNA Grace,28,France,FRA,2020Summer,2020,Summer,Tokyo,Handball,Women Team,Gold,Female,France
285943,ZAHI Carolle,27,France,FRA,2020Summer,2020,Summer,Tokyo,Athletics,Women's 4 x 100m Relay Team,non-medalist,Female,France
286018,ZEZE Meba Mickael,27,France,FRA,2020Summer,2020,Summer,Tokyo,Athletics,Men's 4 x 100m Relay Team,non-medalist,Male,France
286019,ZEZE Ryan,23,France,FRA,2020Summer,2020,Summer,Tokyo,Athletics,Men's 4 x 100m Relay Team,non-medalist,Male,France

In [232]:
df_france.drop(columns = ['Games'], inplace = True)

/var/folders/39/cywg6p994nx3r3m3g0y5d1s00000gn/T/ipykernel_1302/1709192771.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [234]:
medals = {'non-medalist':0,
          'Gold':1,
          'Silver':2,
          'Bronze':3}

df['Medal_num'] = df['Medal'].map(medals)
df

,Name,Age,Country,NOC,Games,Year,Season,City,Sport,Event,Medal,Gender,region,Medal_num
0,A Dijiang,24,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,non-medalist,Male,China,0
1,A Lamusi,23,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,non-medalist,Male,China,0
2,Gunnar Nielsen Aaby,24,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,non-medalist,Male,Denmark,0
3,Edgar Lindenau Aabye,34,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Male,Denmark,1
4,Christine Jacoba Aaftink,21,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,non-medalist,Female,Netherlands,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286157,ZWOLINSKA Klaudia,22,Poland,POL,2020Summer,2020,Summer,Tokyo,Canoe Slalom,Women's Kayak,non-medalist,Female,Poland,0
286158,ZYKOVA Yulia,25,Russia,ROC,2020Summer,2020,Summer,Tokyo,Shooting,50m Rifle 3 Positions Women,Silver,Female,Russia,2
286159,ZYUZINA Ekaterina,24,Russia,ROC,2020Summer,2020,Summer,Tokyo,Sailing,Women's One Person Dinghy - Laser Radial,non-medalist,Female,Russia,0
286160,ZYZANSKA Sylwia,24,Poland,POL,2020Summer,2020,Summer,Tokyo,Archery,Women's Individual,non-medalist,Female,Poland,0
286161,ZYZANSKA Sylwia,24,Poland,POL,2020Summer,2020,Summer,Tokyo,Archery,Mixed Team,non-medalist,Female,Poland,0

In [235]:
df.rename(columns = {'City':'Hote_City'})

,Name,Age,Country,NOC,Games,Year,Season,Hote_City,Sport,Event,Medal,Gender,region,Medal_num
0,A Dijiang,24,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,non-medalist,Male,China,0
1,A Lamusi,23,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,non-medalist,Male,China,0
2,Gunnar Nielsen Aaby,24,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,non-medalist,Male,Denmark,0
3,Edgar Lindenau Aabye,34,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Male,Denmark,1
4,Christine Jacoba Aaftink,21,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,non-medalist,Female,Netherlands,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286157,ZWOLINSKA Klaudia,22,Poland,POL,2020Summer,2020,Summer,Tokyo,Canoe Slalom,Women's Kayak,non-medalist,Female,Poland,0
286158,ZYKOVA Yulia,25,Russia,ROC,2020Summer,2020,Summer,Tokyo,Shooting,50m Rifle 3 Positions Women,Silver,Female,Russia,2
286159,ZYUZINA Ekaterina,24,Russia,ROC,2020Summer,2020,Summer,Tokyo,Sailing,Women's One Person Dinghy - Laser Radial,non-medalist,Female,Russia,0
286160,ZYZANSKA Sylwia,24,Poland,POL,2020Summer,2020,Summer,Tokyo,Archery,Women's Individual,non-medalist,Female,Poland,0
286161,ZYZANSKA Sylwia,24,Poland,POL,2020Summer,2020,Summer,Tokyo,Archery,Mixed Team,non-medalist,Female,Poland,0